@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

@import "variables.scss";

$utilities: map-merge(
  $utilities,
  (
    "background-image": ( // NEW Utility for background-image property
      property: background-image,
      class: bg-gradient, // Using a different class prefix for clarity, e.g., 'bg-gradient-my-gradient'
      values: (
        "my-gradient": linear-gradient(to bottom, var(--bs-body-bg) 0%, var(--color-dadgad-bg-gradient-start) 70%, var(--color-dadgad-bg-gradient-end) 100%),
        "my-gradient-footer": linear-gradient(to bottom, var(--color-dadgad-bg-gradient-end) 0%, var(--bs-body-bg) 90%, var(--bs-body-bg) 100%)
      )
    )
  )
);


@import "bootstrap/scss/utilities/api";
