@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

@import "variables.scss";


$utilities: map-merge(
  $utilities,
  (
    "background-image": ( 
      property: background-image,
      class: bg-gradient,
      values: (
        "my-gradient": linear-gradient(to bottom, var(--bs-body-bg) 0%, var(--color-dadgad-bg-gradient-end) 70%, var(--color-dadgad-bg-gradient-end) 100%),
        "my-gradient-footer": linear-gradient(to bottom, var(--color-dadgad-bg-gradient-end) 0%, var(--bs-body-bg) 90%, var(--bs-body-bg) 100%)
      )
    ),
    background-color: (
      property: background-color,
      class: bg,
      values: (
        "teal": var(--color-dadgad-bg-gradient-end),
        "card-header": var(--color-card-header-bg)
      )
    )
  )
);

@import "bootstrap/scss/utilities/api";
