@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

@import "variables.scss";



$utilities: map-merge(
  $utilities,
  (
    "background-image": ( 
      property: background-image,
      class: bg-gradient,
      values: (
        "my-gradient": linear-gradient(to bottom, var(--bs-body-bg) 0%, var(--color-dadgad-bg-gradient-end) 70%, var(--color-dadgad-bg-gradient-end) 100%),
        "my-gradient-footer": linear-gradient(to bottom, var(--color-dadgad-bg-gradient-end) 0%, var(--bs-body-bg) 90%, var(--bs-body-bg) 100%)
      )
    ),
    background-color: (
      property: background-color,
      class: bg,
      values: (
        "teal": var(--color-dadgad-bg-gradient-end),
        "card-header": var(--color-card-header-bg)
      )
    )
  )
);


.floating-controls {
  position: fixed;
  bottom: 30px; 
  right: 30px;

  @include media-breakpoint-down(lg) {
    right: 0px;
  }

  #back_to_top_container {
    z-index: 100;
    transition: opacity 1.4s ease-in-out;
    #back_to_top {

        z-index: 99; 
        border: none;
        outline: none;
        padding: 15px; 
        font-size: 18px; 
        transition: all 0.3s ease 0s;
        cursor: pointer;
        border-radius: 50px;
        backface-visibility: hidden;

        margin: 20px 20px 4px;
        box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
        width: 55px;
    }

    .back_to_top_text {
        color: var(--bs-light);
        text-align: center;
        cursor: pointer;
        border-radius: 12px;
    }
  }

  #button-container {
    transition: opacity 1.4s ease-in-out;
    #change-theme, #load-terminal, #contact-me {

        z-index: 99; 
        border: none;
        outline: none;
        padding: 15px; 
        font-size: 18px; 
        transition: all 1.5s ease 0s;
        cursor: pointer;
        border-radius: 50px;
        backface-visibility: hidden;

        margin: 20px 20px 4px;
        box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
        width: 55px;
    }

  }
}

@import "bootstrap/scss/utilities/api";
