// -- vars
$bg-color: #34495e;
$default-size: 1em;
$label-font-size: calc($default-size / 4);
$label-font-size-redo: calc($default-size * 4);

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
      transition-duration: 1s;
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

.set-size {
  font-size: 4em;
}

.charts-container {
  z-index: 100;
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.pie-wrapper {
  @include size($default-size, $default-size);

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, calc($default-size / 2));
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: calc($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, calc($default-size / 2), $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    bottom: calc($label-font-size-redo / 10);
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: calc($label-font-size-redo / 10);
    line-height: calc($label-font-size-redo * .70);
    position: absolute;
    right: calc($label-font-size-redo / 10);
    text-align: center;
    top: calc($label-font-size-redo / 10);

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: calc($default-size / 10) solid #bdc3c7;
    border-radius: 50%;
  }

  @for $i from 0 through 100 {
    &.progress-#{$i} {
      @include draw-progress($i, #3498db);
    }
  }
}
