// Default (Light) Theme Colors
$dark-teal-grey: rgb(25, 45, 45);

:root,
[data-bs-theme="light"] {
  /*Background (bg) colors*/
  --color-dadgad-bg-gradient-start: rgb(245, 255, 245); /* Pale Greenish White */
  --color-dadgad-bg-gradient-end: rgb(230, 245, 230);   /* Very Light Green */

  /* Card Header Background for Light Theme */
  --color-card-header-bg: rgb(50, 90, 90, 0.9); /* A muted, dark teal-green */
  --color-card-header-text: white; /* White text for contrast */
}

// Dark Theme Colors
[data-bs-theme="dark"] {
  /*Background (bg) colors*/
  --color-dadgad-bg-gradient-start: $dark-teal-grey;   /* Dark Teal-Grey */
  --color-dadgad-bg-gradient-end: rgb(40, 70, 70);     /* Slightly Lighter Teal-Grey */

  /* Card Header Background for Dark Theme */
  --color-card-header-bg: rgb(80, 130, 130, 0.2); /* A medium, slightly desaturated teal */
  --color-card-header-text: white; /* White text for contrast */
}