@use 'stylesheets/custom.scss';
@use 'stylesheets/variables.scss';

body, .card, .card-header {
  transition: background-color 0.5s ease, color 0.5s ease, background-image 0.5s ease;
}

.list-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.227);
  margin: 20px auto;
  width: 50%;
  text-align: left;

  > a {
    text-decoration: none;
  }
}

.login_page {
  margin: 0px auto;
  width: 50%;
}

.error {
  color: red;
}

.artist-search-card {
  width: 18rem;
}

/* Artist Page */
.song-list {
  list-style: none;
  .song-row {
    padding: 0px 20px;
  }


  li {
    // border: 1px solid pink !important;

    .list-color-\#CCCCCC {
      color: #CCCCCC;
    }
  }
}

/*Back to Top*/

#back_to_top_container {
  width: 100px;
  height: 100px;
  z-index: 100;
  position: fixed;
  bottom: 30px; 
  right: 30px;
  transition: opacity 0.4s ease-in-out;
  #back_to_top {

      z-index: 99; 
      border: none;
      outline: none;
      padding: 15px; 
      font-size: 18px; 
      transition: all 0.3s ease 0s;
      cursor: pointer;
      border-radius: 50px;
      backface-visibility: hidden;

      margin: 20px 20px 4px;
      box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
      width: 55px;
  }

  .back_to_top_text {
      color: var(--bs-light);
      text-align: center;
      cursor: pointer;
      border-radius: 12px;
  }
}

.btn:focus {
  font-weight: bold;
}
